.container {

  padding: 50px;
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  flex-direction: column;
  width:90%;
  margin: 80px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dropdown {
  display: flex;
  flex-direction: row;
  width: 30%;
}